<p>template-driven-forum works!</p>
<form #form="ngForm" (ngSubmit)="ajouter()" >
    <div style="width: 60%;margin-left: 10px;">
    <h2>{{titre1}}</h2>
    Email : <input class="form-control" type="text" name="email" [(ngModel)]="Driven.email" #emaill="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9A-Z]{3}"> 
 
    <div  class="alert alert-danger" *ngIf="emaill.touched && emaill.invalid">
        <div *ngIf="emaill.errors?.['pattern']">Email non valide</div>
        <div *ngIf="emaill.errors?.['required']">Email est obligatoire </div> 
    </div>
    
    Nom : <input class="form-control" type="text" name="nom"[(ngModel)]="Driven.Nom"  #Nom="ngModel" required   >
    <div class="alert alert-danger" *ngIf="Nom.touched && Nom.invalid">
    <div *ngIf="Nom.errors?.['required']">Nom est obligatoire</div> 
    </div>
     </div>
    <div style="width: 50%;margin-left: 30px;">
    <h5>{{titre2}}</h5>

    Type de carte : <input class="form-control" type="text" name="type de carte"[(ngModel)]="Driven.typecarte"  #Typecarte="ngModel" required   >
    <div class="alert alert-danger" *ngIf="Typecarte.touched && Typecarte.invalid">
    <div *ngIf="Typecarte.errors?.['required']">Type de carte est obligatoire </div> 
    </div>
    
    Numéro carte : <input class="form-control" type="number" name="title"[(ngModel)]="Driven.numerocarte"  #Numcarte="ngModel" required pattern="[0-9]{16}" >
    <div class="alert alert-danger" *ngIf="Numcarte.touched && Numcarte.invalid">
    <div *ngIf="Numcarte.errors?.['required']"> Numéro carte est obligatoire</div>
    <div  *ngIf="Numcarte.errors?.['pattern']"> Le numéro de carte contient 16 chiffres </div>
    </div>

    Date expiration : <input class="form-control" type="date" name="dateExpiration"[(ngModel)]="Driven.dateExpiration"  #Dateex="ngModel" required    >
    <div class="alert alert-danger" *ngIf="Dateex.touched && Dateex.invalid">
    <div *ngIf="Dateex.errors?.['required']">Date expiration est obligatoire </div> 
    </div>
    <div>
    <label  *ngIf="  Numcarte.valid && Typecarte.valid && Dateex.valid "> Code :</label>   
    </div>
   </div>

    <div  >
   
    <input class="form-control" type="number" name="code"[(ngModel)]="Driven.code"  #Code="ngModel"  *ngIf="  Numcarte.valid && Typecarte.valid && Dateex.valid " >
    </div>
    
    
    

    <input  class="btn btn-primary" type="submit" value="Ajouter" [disabled]="form.invalid">

